{% extends 'layout.html' %}
{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
<form id="contact" action="{{ url_for('contact') }}" method="POST">
  <input name="name" type="text" value="اسم شما"/>
  <input name="email" type="email" value="ایمیل شما"/>
  <textarea name='comment'></textarea>
  <input name="submit" type="submit" value="ارسال "/>
</form>

{% if usercomment %}
<p>name: {{ usercomment.name }}</p>
<p>email: {{ usercomment.email }}e</p>
<p>comment: {{ usercomment.comment }}</p>
{% endif %}
{% endblock %}
