<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    {% block title %} {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <ul id="menu">
      <li><a href="{{ url_for('index') }}">صفحه اصلی</a></li>
      <li><a href="{{ url_for('contact') }}">ارتباط با ما</a></li>
      <li><a href="{{ url_for('about') }}">درباره ما</a></li>
    </ul>
    <h1>this is from the layout.html!!!</h1>
    {% block content %} {% endblock %}
    <h3>this is the end from the layout.html!!!</h3>
  </body>
</html>
