<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    {% block title %} {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <nav class="nav">
      <ul class="menu">
	<li><a href="{{ url_for('index') }}">صفحه اصلی</a></li>
	<li><a href="{{ url_for('contact') }}">ارتباط با ما</a></li>
	<li><a href="{{ url_for('about') }}">درباره ما</a></li>
	{% if session.log_in %}
	<li><a href="{{ url_for('log_out') }}">خروج</a></li>
	{% else %}
	<li><a href="{{ url_for('log_in') }}">ورود</a></li>
	{% endif %}
    </ul>
    </nav>
    {% if session.log_in %}
    <h3>سلام {{ session.name }}.</h3>
    {% endif %}
    <content class="content">
      {% block content %} {% endblock %}
    </content>
    <footer class="footer">
      <div class="footertext">
	<p>این فوتر سایت ما هستش و خیلی هم قشنگه تازه</p>
      </div>
    </footer>
  </body>
</html>
